<h4>Your Cart contains</h4>
<div class="container">
<div class="row ">
<mat-card class="example-card col-3 mt-3"  *ngFor="let item of cartList$ | async" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="card-title">{{item.name}}</mat-card-title>
    <mat-card-subtitle>User : {{item.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.image" class="user-image" alt="Cart Item">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-sm btn-primary mr-2" >View Details</button>
  </mat-card-actions>
</mat-card>
</div>
</div>

