.example-card {
  max-width: 350px;
  margin-right: 5%;
}

.example-header-image {
  background-image: url('../../../../assets/images/male.jpg');
  background-size: cover;
}

.user-image{
  height: 300px;width: 250px;
}
