.example-card {
    max-width: 350px;
    margin-right: 5%;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } 

  .menu-type-img{
    height: 15em;
    cursor: pointer;
    &:hover{
    transition: all .3s;
    transition-timing-function: ease-in-out;
    transform: scale(1.05);
    }
  }